# Overview

This notebook is to generate the test dataset for the UKBB analysis.

In [23]:
library(lubridate)
library(readr)
library(dplyr, warn.conflicts = FALSE)
library(ggplot2)
library(DT)
library(tidyr)
library(gtools)
library(knitr)

In [24]:
N = 100000

# Generate 6-digit random ID numbers
id_numbers <- sample(100000:999999, N, replace = FALSE)

sex <- sample(0:1, N, replace = TRUE)
dob <- as.Date(runif(N, 50, 80) * 365, origin = "1895-01-01")

toy_data <- data.frame(ID = id_numbers, Sex = sex, DOB = dob)
toy_data$f.131057 <- 0

# Assign NA to 80% of the population
toy_data$f.131057[sample(1:N, N*0.80, replace = FALSE)] <- NA
# Assign 50 to 85% of the remaining 5%
toy_data$f.131057[sample(which(is.na(toy_data$f.131057)), N*0.20*0.85, replace = FALSE)] <- 50
# Assign other numbers to the remaining individuals
remaining_inds <- which(toy_data$f.131057==0)
toy_data$f.131057[which(toy_data$f.131057==0)] <- sample(c(40,51), length(remaining_inds), replace = TRUE)

toy_data<- toy_data %>%
    mutate(f.131057.isvalid = ifelse(is.na(f.131057), 0, 1))

generate_correlated_values <- function(input_values, correlation_value) {
  n <- length(input_values)
  z <- rnorm(n)
  y <- correlation_value * input_values + sqrt(1 - correlation_value^2) * z
  return(pmax(pmin(y, max(input_values)), min(input_values)))
}

# Generate "f.131369" column based on the correlation with "f.131057"
correlation_value = 0.7
toy_data$f.131369.isvalid <- generate_correlated_values(as.numeric(toy_data$f.131057.isvalid), correlation_value)
toy_data$f.131369.tmp <- rbinom(nrow(toy_data), 1, toy_data$f.131369.isvalid)

toy_data$f.131369 <- ifelse(toy_data$f.131369.tmp == 0, NA, 
                           ifelse(toy_data$f.131369.tmp == 1, 
                                  sample(c(40, 50, 51), sum(toy_data$f.131369.tmp == 1), 
                                         replace = TRUE, 
                                         prob = c(0.10, 0.85, 0.05)),
                                  NA))

In [25]:
toy_data <- toy_data %>%
  select(!f.131369.isvalid & !f.131369.tmp) %>%
  rename(f.131057.0.0 = f.131057, f.131369.0.0 = f.131369) %>%
  mutate(
    f.131056.0.0 = ifelse(!is.na(f.131057.0.0) & !is.na(DOB) & (DOB + years(30) <= as.Date("2020-01-01")),
      runif(sum(!is.na(f.131057.0.0)),
        min = as.numeric(DOB + years(30)),
        max = as.Date("2020-01-01")
      ),
      NA
    ),
    f.131056.0.0 = as.Date(f.131056.0.0, origin = "1970-01-01"), # Assuming 1970 is the correct origin
  ) %>%
  mutate(
    f.131368.0.0 = ifelse(!is.na(f.131369.0.0) & !is.na(DOB) & (DOB + years(40) <= as.Date("2020-01-01")),
      runif(sum(!is.na(f.131369.0.0)),
        min = as.numeric(DOB + years(30)),
        max = as.Date("2020-01-01")
      ),
      NA
    ),
    f.131368.0.0 = as.Date(f.131368.0.0, origin = "1970-01-01"), # Assuming 1970 is the correct origin
    f.31.0.0 = Sex,
    f.33.0.0 = DOB
  ) %>% select(!Sex & !DOB & !f.131057.isvalid)

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `f.131056.0.0 = ifelse(...)`.
Caused by warning in `runif()`:
! NAs produced”
Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `f.131368.0.0 = ifelse(...)`.
Caused by warning in `runif()`:
! NAs produced”

## generate PRS

In [26]:
toy_data_tia_PRS_cases <- toy_data %>% filter(!is.na(f.131056.0.0))
toy_data_tia_PRS_ctrls <- toy_data %>% filter(is.na(f.131056.0.0))
toy_data_tia_PRS_cases$PRS = rnorm(n=nrow(toy_data_tia_PRS_cases),mean=0.45,sd=0.3)
toy_data_tia_PRS_cases$pheno_tia=1
toy_data_tia_PRS_ctrls$PRS = rnorm(n=nrow(toy_data_tia_PRS_ctrls),mean=0.3,sd=0.5)
toy_data_tia_PRS_ctrls$pheno_tia=0

toy_data_tia_PRS = rbind(toy_data_tia_PRS_cases,toy_data_tia_PRS_ctrls)

min_max_normalize <- function(x) {
  (x - min(x, na.rm = TRUE)) / (max(x, na.rm = TRUE) - min(x, na.rm = TRUE))
}

# Normalize the specified column
toy_data_tia_PRS$tia_PRS <- min_max_normalize(toy_data_tia_PRS$PRS)
head(toy_data_tia_PRS)
# toy_data_PRS <- toy_data_PRS %>% select(ID, PRS

  ID     f.131057.0.0 f.131369.0.0 f.131056.0.0 f.131368.0.0 f.31.0.0
1 801313 51           50           1993-02-09   2008-07-22   0
2 954457 40           NA           2003-08-16   <NA>         0
3 164775 51           50           1992-08-03   2000-02-10   1
4 154999 50           51           1991-05-26   2015-09-27   1
5 253947 50           NA           2016-04-15   <NA>         0
6 797431 51           50           2008-07-06   2015-11-02   0
  f.33.0.0   PRS       pheno_tia tia_PRS
1 1958-10-12 0.6254465 1         0.6224815
2 1973-02-09 0.8187297 1         0.6665039
3 1960-12-15 0.3274813 1         0.5546166
4 1952-12-25 0.1698612 1         0.5187169
5 1949-12-18 0.2569444 1         0.5385510
6 1963-05-22 0.4804860 1         0.5894651

In [27]:
toy_data_stroke_PRS_cases <- toy_data %>% filter(!is.na(f.131368.0.0))
toy_data_stroke_PRS_ctrls <- toy_data %>% filter(is.na(f.131368.0.0))
toy_data_stroke_PRS_cases$PRS <- rnorm(n = nrow(toy_data_stroke_PRS_cases), mean = 0.6, sd = 0.3)
toy_data_stroke_PRS_cases$pheno_stroke <- 1
toy_data_stroke_PRS_ctrls$PRS <- rnorm(n = nrow(toy_data_stroke_PRS_ctrls), mean = 0.2, sd = 0.5)
toy_data_stroke_PRS_ctrls$pheno_stroke <- 0

toy_data_stroke_PRS <- rbind(toy_data_stroke_PRS_cases, toy_data_stroke_PRS_ctrls)

# Normalize the specified column
toy_data_stroke_PRS$stroke_PRS <- min_max_normalize(toy_data_stroke_PRS$PRS)

toy_data_stroke_PRS <- toy_data_stroke_PRS %>% select(ID, stroke_PRS)

toy_data_PRS <- merge(toy_data_tia_PRS, toy_data_stroke_PRS, by="ID") %>% select(ID, tia_PRS, stroke_PRS) %>% rename(TIA_PRS=tia_PRS)
head(toy_data_PRS)
# toy_data_PRS <- toy_data_PRS %>% select(ID,

  ID     TIA_PRS   stroke_PRS
1 100001 0.6158974 0.6632883
2 100015 0.4871903 0.4553924
3 100026 0.6650735 0.3139749
4 100029 0.7336656 0.5454911
5 100041 0.5156590 0.4313858
6 100042 0.4936058 0.5155710

In [28]:
write.table(toy_data, file = "~/student_test_2024/data/toy_data.tsv", sep = "\t", quote = FALSE, row.names = FALSE)
write.table(toy_data_PRS, file = "~/student_test_2024/data/toy_data_PRS.tsv", sep = "\t", quote = FALSE, row.names = FALSE)

# results

In [36]:
toy_data = read.table(file = "~/student_test_2024/data/toy_data.tsv", header=TRUE)

In [37]:
head(toy_data)

  ID     f.131057.0.0 f.131369.0.0 f.131056.0.0 f.131368.0.0 f.31.0.0
1 801313 51           50           1993-02-09   2008-07-22   0
2 959469 NA           NA           NA           NA           1
3 954457 40           NA           2003-08-16   NA           0
4 711984 NA           NA           NA           NA           1
5 881953 NA           50           NA           2018-06-04   1
6 782180 NA           50           NA           2016-05-29   1
  f.33.0.0
1 1958-10-12
2 1948-01-22
3 1973-02-09
4 1951-09-08
5 1951-01-21
6 1974-05-14

In [38]:
tmp <- toy_data
# Convert 'DOB' to Date class
tmp$DOB <- as.Date(tmp$f.33.0.0)

# Reference date
reference_date <- as.Date('2024-01-01')

# Calculate age
tmp$Age <- as.numeric(difftime(reference_date, tmp$DOB, units = 'days')) / 365.25

# Filter for females (Sex==0)
female_data <- subset(tmp, f.31.0.0 == 0)

# Calculate average age for females
average_age_females <- mean(tmp$Age, na.rm = TRUE)

cat("Average age of females:", average_age_females, "\n")

Average age of females: 64.00236

In [33]:
dim(tmp)
dim(female_data)

[1] 100000      9

[1] 50185     9